%h3 Associations:
%p 
  A check in the 'Prim' column indicates this is the primary employee for this phone number. 
  %br
  A check in the '911' column indicates this is the location that will be sent to 911 for their records.
