%table.details{:width => '298px'}
  %colgroup
    %col.field_name
    %col.field_value{:width => '230px'}
  %tbody
    %tr.odd
      %td.first Type of Phone: 
      %td=h phone.phone_category.name
    %tr.even
      %td.first Comment: 
      %td=h phone.comment 
