- unless @phones.blank?
  %h1 Listing phones
  %div{:style => 'text-align:center'}
    = page_entries_info @phones, :entry_name => 'phone'
    = will_paginate @phones, :params => {:controller => 'phones', :action => 'search_results'}, :class => 'pagination custom_replace_results'
  %table.results.associations.round
    %thead
      %tr.main_table_headers
        %th Number
        %th.divider Type
        %th.divider Main Location
        %th.divider Main Employee
    %tbody
      -for phone in @phones do
        %tr{:class => cycle('odd', 'even')}
          %td=phone_link phone, @administrator
          %td.divider=h phone.phone_category.name.capitalize rescue ''
          %td.divider= phone.primary_labels[:location]
          %td.divider= phone_employee phone, @administrator
  %div{:style => 'text-align:center'}
    = page_entries_info @phones, :entry_name => 'phone'
    = will_paginate @phones, :params => {:controller => 'phones', :action => 'search_results'}, :class => 'pagination custom_replace_results'
- else
  %h1 Sorry, no phones were found.
