%p#page_navigation_links
  %span#back_to_search_results=link_to 'Back to search results', {:controller => 'search'}
.form
  %h1.page_header=@phone.to_label
  -form_for @phone, :html => {:class => 'yui-gd'} do |f|
    =hidden_field_tag :from, 'phone'
    =hidden_field_tag :from_id, @phone.id
    =hidden_field_tag :id, @phone.id
    =hidden_field_tag :authenticity_token, form_authenticity_token
    .yui-u.first
      %h2 Details:
      %table.details
        %colgroup
          %col.field_name
          %col.field_value
        %tbody
          %tr.odd
            %td.first Type of Phone: 
            %td=select 'phone', 'phone_category_id', @phone_categories
          %tr.even
            %td.first Comment: 
            %td=text_area_tag 'phone[comment]', @phone.comment, :cols => 25, :rows => 5
          %tr.odd
            %td.center(colspan=2 style='height:3em')
              =link_to 'Delete phone number', delete_phone_path(@phone), :class => 'confirm_action_dialog center', :title => "delete the phone number #{@phone.to_label} and all of it's associations"
    .yui-u
      %h2 Associations:
      %table.associations
        %colgroup
          %col
          %col.prim
        %colgroup
          %col
          %col.prim
        %colgroup
          %col.remove
        %thead
          %tr.main_table_headers
            %th.divider(colspan=2) Employee
            %th.divider(colspan=2) Location
          %tr.minor_table_headers  
            %th Name
            %th.clear.divider
              Main
              %br
              %a.primary_employee_for_phone{:title => 'Click to uncheck all selections for the primary employee'} Clear
            %th Address
            %th.clear
              Main
              %br
              %a.primary_phone_location{:title => 'Click to uncheck all selections for the primary locations'} Clear
        %tbody
          -@phone.sorted_master_relations.each do |ml|
            %tr{:class => cycle('odd', 'even')}
              %td.editable= add_remove_employee_link_from_phone(ml)
              %td.divider{:style => 'text-align:center'}=primary_employee_for_phone(ml)
              %td.editable= add_remove_location_link_from_phone(ml)
              %td.center= primary_phone_location(ml)
          %tr{:class => 'odd'}
            %td.divider(colspan=2)=link_to 'Add employee association', new_master_relation_path(:id => @phone.id, :from => 'phone', :component => 'employee'), {:class => 'mid_ajax_dialog'}
            %td(colspan=4)=link_to 'Add location association', new_master_relation_path(:id => @phone.id, :from => 'phone', :component => 'location'), {:class => 'mid_ajax_dialog'}
      #save_button{:name => 'primaries', :style => 'display:none'}
        %p You've changed either the phone number or a main indicator
        =submit_tag 'Save changes'

