.form{:style => 'width:400px'}
  %h1
    New phone number:
  - form_for(@phone) do |f|
    = f.error_messages
    %p
      =label_tag :area_code
      %br
      =f.text_field :area_code, :size => 4, :maxlength => 3
    %p
      =f.label :phone_number
      %br
      = f.text_field :main_number, :size => 8, :maxlength => 8
    %p
      = f.label :phone_category
      %br
      = select :phone, :phone_category_id, @phone_categories
    %p
      =f.label 'Comment (e.g. make/model)'
      %br
      = f.text_area :comment, :cols => 8, :rows => 3
    %p
      = f.submit "Create"