%p#page_navigation_links
  %span#back_to_search_results=link_to 'Back to search results', {:controller => 'search'}
  %span#incorrect_information
    =link_to 'Wrong information?', "mailto:#{APP_CONFIG['mail']['phone_support']}?subject=[DMS Directory] Information Change Request&body=Please make the following changes to phone number #{@phone.to_label}:"
.form
  %h1.page_header=@phone.to_label
  .yui-gd
    .yui-u.first
      %h2 Details:
      =render :partial => 'phone_details',:locals => {:phone => @phone}
    .yui-u
      %h2 Associations:
      %table.associations
        %colgroup
          %col
          %col.prim
        %colgroup
          %col
          %col.prim
        %thead
          %tr.main_table_headers
            %th.divider(colspan=2) Employee
            %th(colspan=2) Location
          %tr.minor_table_headers
            %th Name
            %th.divider Main
            %th Address
            %th Main
        %tbody
          -if @phone.master_relations.size == 0
            %tr
              %td.divider{:colspan => 2} No Employees
              %td(colspan=2) No Locations
          -else
            -@phone.sorted_master_relations.each do |ml|
              %tr{:class => cycle('odd', 'even')}
                %td=h                              employee_name(ml)
                %td.divider{:style => 'text-align:center'}=yes_no_image(is_prim_emp_for_phone?(ml))
                %td=                              location_label(ml)
                %td.center=                        yes_no_image(is_prim_phone_location?(ml))
