.form
  %h1 Log In
  -form_tag session_path do
    %p
      =label_tag 'login'
      %br
      =text_field_tag 'login', @login
      %br
      %small Your People First login.
    %p
      =label_tag 'password'
      %br
      =password_field_tag 'password', @login
    %p
      =label_tag 'remember_me', 'Remember me'
      =check_box_tag 'remember_me', '1', @remember_me
    %p=submit_tag 'Log in'
    %p
      =submit_tag 'Change Password', :value => 'Change Password', :class => 'link_button'
      %br
      =link_to 'Forgot my password', forgot_password_path, :class => 'simple_ajax_dialog'
