%div
  %p To whom it may concern:
  %p 
    The automated VOIP Phone location updater detected a change in the 
    location of a VOIP phone.
    %br
    The updated records are as follows:
  %p
    %table
      %thead
        %tr
          %th Phone
          %th Location
          %th Employee

      -if @updates
        -@updates.each do |master_relation|
          %tr
            %td=master_relation.phone.try(:to_label)
            %td=master_relation.location.try(:to_label)
            %td
              -if master_relation.employee
                =master_relation.employee.to_label
                -else
                  "No employee was found or set"

      -if @inserts
        -@inserts.each do |master_relation|
          %tr
            %td=master_relation.phone.try(:to_label)
            %td=master_relation.location.try(:to_label)
            %td
              -if master_relation.employee
                =master_relation.employee.to_label
                -else
                  "No employee was found or set"

%p The original VOIP data was as follows:
%table
  %thead
    %tr
      %td Phone
      %td Room
      %td Address
      %td Employee
    -@operation.source.each do |ip_phone_record|
      %tr
        %td
          =ip_phone_record['voip'][0..2]
          -
          =ip_phone_record['voip'][3..5]
          -
          =ip_phone_record['voip'][6..9]
        %td=ip_phone_record['room']
        %td
          =ip_phone_record['bldg_num']
          =ip_phone_record['bldg_num_suffix']
          =ip_phone_record['street']
          =ip_phone_record['suffix']
          =ip_phone_record['post_dir']
          %br
          =ip_phone_record['city']
          =ip_phone_record['state']
          ,
          =ip_phone_record['zip'][0..4]
          -
          =ip_phone_record['zip'][5..9]
        %td
          =ip_phone_record['voip_name']
          

