!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
  %body
    %style{:type => 'text/css'} table td, table th{ border-collapse: collapse;border:1px solid black;} table tr.even td { border-collapse: collapse;background-color:#d5f5ff;}
    %p To whom it may concern:
    %p Please make the following modifications to the employees, locations and phone numbers you have on file with People First
    %table.unsent_changes.results
      %thead
        %th Action
        %th Item
      %tbody
        -@unsent_changes.each do |uc|
          -row = cycle('odd', 'even')
          -if uc.changes.size <= 1
            %tr{:class => row}
              %td= uc.change_description
              %td=item_label(uc)
          -else
            =many_changes(uc, row, {:scheduled_send => false})