!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
  %body
    %p To whom it may concern:
    %p Please make the following modifications to the Employees, Locations and phone numbers you have on file with People First
    %table.unsent_changes.results
      %thead
        %th Item
        %th Action
        %th Field
        %th From
        %th To
        %th Scheduled Send
      %tbody
        -@unsent_changes.each do |uc|
          -row = cycle('odd', 'even')
          -if uc.changes.size <= 1
            %tr{:class => row}
              %td=item_label(uc)
              %td= uc.change_description
              %td=label('',uc.changes.to_a[0][0]) unless uc.changes['used_for_411']
              %td=h old_attribute_value_label(uc, uc.changes.to_a[0][0]) unless uc.changes['used_for_411']
              %td=h new_attribute_value_label(uc, uc.changes.to_a[0][0]) unless uc.changes['used_for_411']
              %td=h uc.scheduled_send
            -else
              =many_changes(uc, row)