%h3 Associations:
%p 
  A check in the first (left-most) 'Prim' column indicates this is the primary location for this employee. 
  %br
  A check in the second (right-most) 'Prim' column indicates this is the primary phone number for the employee.
  %br
  A check in the 'People First' column indicates the phone number will be listed in the state's People First as the employee's 411 phone number directory.