%table.details
  %colgroup
    %col.field_name
    %col.field_value
  %tbody
    %tr.odd
      %td.first First Name: 
      %td=h employee.first_name
    %tr.even
      %td.first Last Name: 
      %td=h employee.last_name
    %tr.odd
      %td.first Middle Initial: 
      %td=h employee.middle_name
    %tr.even
      %td.first Division:
      %td=link_to employee.division_name, division_employees_path(employee)
    %tr.odd
      %td.first Position Number:
      %td= employee.position_number
    %tr.even
      %td.left{:colspan => 2} 
        E-mail:
        %br
        =mail_to employee.email unless employee.email.blank?
    %tr.odd
      %td.first Contractor?
      %td{:class => employee.contractor_flag ? 'true' : 'false'}= employee.contractor_flag ? 'Contractor' : 'Not a contractor'
    %tr.even
      %td.first Active?
      %td{:class => employee.active_flag ? 'true' : 'false'}= employee.active_flag ? 'Active' : 'Inactive'
    %tr.odd
      %td Confidential?
      %td=confidential(employee)
 
