%h1
  Listing Employees
  -if (division_listing rescue false)
    -@employees = employees
    =" for the division: #{@employees[0].division_name}"
  
- unless @employees.blank?
  %div{:style => 'text-align:center'}
    = page_entries_info @employees, :entry_name => 'employee'
    -if (division_listing rescue false)
      = will_paginate @employees, :params => {:controller => 'employees', :action => 'division_employees', :id => @employees[0].id}, :class => 'pagination custom_replace_results'
    -else
      = will_paginate @employees, :params => {:controller => 'employees', :action => 'search_results'}, :class => 'pagination custom_replace_results'
  %table.results.associations
    %thead
      %tr.main_table_headers
        %th Confidential
        %th Name
        -unless (division_listing rescue false)
          %th.divider Division
        %th.divider Main Location
        %th.divider= @administrator ? 'Main Phone' : 'People First Phone'
    %tbody
      -for employee in @employees do
        %tr{:class => cycle('odd', 'even')+ confidential_row(employee)}
          %td{:style => "text-align: center"}=confidential_flag(employee)
          %td=employee_link employee, @administrator
          -unless (division_listing rescue false) 
            %td.divider=link_to employee.division_name, division_employees_path(employee)
          %td.divider= employee.primary_labels[:location]
          %td.divider=employee_phone(employee, @administrator)
  %div{:style => 'text-align:center'}
    = page_entries_info @employees, :entry_name => 'employee'
    -if (division_listing rescue false)
      = will_paginate @employees, :params => {:controller => 'employees', :action => 'division_employees', :id => @employees[0].id}, :class => 'pagination custom_replace_results'
    -else
      = will_paginate @employees, :params => {:controller => 'employees', :action => 'search_results'}, :class => 'pagination custom_replace_results'

- else
  %h1 Sorry, no employees were found.

