%p#page_navigation_links
  %span#back_to_search_results=link_to 'Back to search results', {:controller => 'search'}
.form
  %h1.page_header=@employee.full_name
  %form.yui-gd{:action => save_primaries_url(:from => 'employee',:from_id => @employee.id)}
    =hidden_field_tag :from, 'employee'
    =hidden_field_tag :from_id, @employee.id
    =hidden_field_tag :id, @employee.id
    =hidden_field_tag :authenticity_token, form_authenticity_token
    .yui-u.first
      %h2 Details:
      =render :partial => 'employee_details', :locals => {:employee => @employee} 
       
    .yui-u
      %h2 Associations:
      %table.associations
        %colgroup
          %col
          %col.primary_employee_location
        %colgroup
          %col.phone_and_type
          %col.primary_phone_for_employee
          %col.used_for_411
        %thead
          %tr.main_table_headers
            %th.divider(colspan=2) Location
            %th.divider(colspan=4) Phone
          %tr.minor_table_headers
            %th 
              Address
            %th.clear.divider 
              Main
              %br
              %a.primary_employee_location{:title => 'Click to uncheck all selections for the primary employee field'} Clear
            %th Number
            %th Type
            %th.clear
              Main
              %br
              %a.primary_phone_for_employee{:title => 'Click to uncheck all selections for the primary phone field'} Clear
            %th.clear.divider
              People First
              %br
              %a.used_for_411{:title => 'Click to uncheck all selections for the People First field'} Clear
        %tbody
          -@employee.sorted_master_relations.each do |ml|
            %tr{:class => cycle('odd', 'even')}
              %td=add_remove_location_link(ml)
              %td.divider{:style => 'text-align:center'}=primary_employee_location(ml)
              %td=add_remove_phone_link(ml)
              %td=ml.phone.phone_category.name rescue ''
              %td{:style => 'text-align:center'}=primary_phone_for_employee(ml)
              %td.center.divider=used_for_411(ml)
          %tr{:class => 'odd'}
            %td.divider(colspan=2)=link_to 'Add location association', new_master_relation_path(:id => @employee.id, :from => 'employee', :component => 'location'), {:class => 'mid_ajax_dialog'}
            %td(colspan=4)=link_to 'Add phone association', new_master_relation_path(:id => @employee.id, :from => 'employee', :component => 'phone'), {:class => 'mid_ajax_dialog'}
      #save_button{:name => 'primaries', :style => 'display:none'}
        %p You've changed a main location or phone number.
        =submit_tag 'Save changes'
      
