%p#page_navigation_links
  %span#back_to_search_results=link_to 'Back to search results', {:controller => 'search'}
  %span#incorrect_information=link_to 'Wrong information?', incorrect_information_path, :class => 'simple_ajax_dialog'
.form
  %h1.page_header= @employee.full_name
  %form.yui-gd{:action => save_primaries_url(:from => 'employee',:from_id => @employee.id)}
    .yui-u.first
      %h2 Details:
      =render :partial => 'employee_details',:locals => {:employee => @employee}
    .yui-u
      %h2 Associations:
      %table.associations
        %colgroup
          %col
          %col.prim
        %colgroup
          %col
          %col.prim
        %colgroup
          %col.prim
        %thead
          %tr.main_table_headers
            %th.divider(colspan=2) Location:
            %th(colspan=3) Phone Number:
          %tr.minor_table_headers
            %th Address:
            %th.divider Main:
            %th Phone:
            %th Main:
            %th People First:
        %tbody
          -@employee.sorted_master_relations.each do |ml|
            %tr{:class => cycle('odd', 'even')}
              %td= ml.location.to_label unless ml.location.nil?
              %td.divider{:style => 'text-align:center'}
                -if !ml.location.blank?
                  =yes_no_image(ml.primary_employee_location)
              %td=h ml.phone.to_label unless ml.phone.nil?
              %td{:style => 'text-align:center'}
                -if !ml.phone.blank?
                  =yes_no_image(ml.primary_phone_for_employee)
              %td.center=used_for_411_images(ml)
