
="Hello #{@user.employee.full_name}" 
="Your account has been created for the #{APP_CONFIG['settings']['name']}."
Please activate your account by going to
=@url
Your username and password are:
="  Username: #{@user.login}"
="  Password: #{@user.password}"