.center
-form_for phone_to_search, :url => destination, :html => html_results do |f|
  =hidden_field_tag :from, @from
  %p.phone_number
    =f.label "Phone number:"
    (
    =f.text_field :area_code, :size => 3, :maxlength => 3, :title => 'area code'
    )
    =f.text_field :main_number, :size => 8, :maxlength => 8, :title => 'main number'
  %p.phone_category
    =f.label "Type of Phone:"
    = select 'search', 'phone_category_id', @phone_categories, { :include_blank => true }
  %fieldset.vacant
    %legend Vacant
    %label
      =radio_button 'search', 'vacant', true
      Yes
    %label
      =radio_button 'search', 'vacant', false
      No
    %label
      =radio_button 'search', 'vacant', '', :checked => 'checked'
      Both

  %p.submit
    =f.submit 'Find Phones'
    &nbsp;
    %input{:type => 'reset', :class => 'force_reset'} 
    -if current_user.has_role?('Administrator')
      &nbsp;
      %button{:type => 'button', :class => 'new_phone'} New Phone
