-form_for Building.new, :url => destination, :html => html_results do |f|
  %h1.one Search by building: 
  %p.field
    =label_tag 'county'
    =f.text_field 'county_name', :class => 'autocomplete search-counties', :size => 20
  %p.field
    =label_tag 'campus'
    %br
    =select_campus
  %p.field
    =label_tag 'city'
    =f.text_field 'city', :class => 'autocomplete search-cities', :size => 20
  %p.field
    =label_tag 'zip_code'
    =f.text_field 'zip_code', :class => 'autocomplete search-zip_codes', :size => 20, :maxlength => 5
  %p.field
    =label_tag 'building_name'
    =f.text_field 'building_name', :class => 'autocomplete search-buildings', :size => 20
  %p.field
    =label_tag 'Street Address'
    =f.text_field 'full_street_address', :class => 'autocomplete search-street_addresses', :size => 20
  %p.field
    =f.submit 'Find buildings'
    %input{:type => 'reset'}

-form_tag destination, html_attributes_for_building_locations(html_results) do |f|
  %hr
  =hidden_field_tag 'search[building_id]', ''
  %h1.four Search for location:
  %small.below_number (Within selected building)
  %p.field
    =label_tag 'floor'
    =select_tag 'search[floor]', ''
  %p.field
    =label_tag 'room'
    =text_field_tag 'search[room]', ''
  %p.field
    =submit_tag 'Find Locations'
    %input{:type => 'reset', :class => 'force_reset'}
