-form_for employee_to_search, :url => destination, :html => html_results do |f|
  %p.last_name
    =f.label 'Last name:'
    =f.text_field :last_name, :class => 'autocomplete employees-last_names', :size => 20
  %p.first_name
    =f.label 'First name:'
    =f.text_field :first_name, :class => 'autocomplete employees-first_names', :size => 20
  %fieldset.contractor_flag
    %legend Contractor
    %label
      =radio_button 'search', 'contractor_flag', 1
      Yes
    %label
      =radio_button 'search', 'contractor_flag', 0
      No
    %label
      =radio_button 'search', 'contractor_flag', '', :checked => 'checked'
      Both
  %fieldset.active_flag
    %legend Active
    %label
      =radio_button 'search', 'active_flag', 1
      Yes
    %label
      =radio_button 'search', 'active_flag', 0
      No
    %label
      =radio_button 'search', 'active_flag', '', :checked => 'checked'
      Both
  %p.submit.center
    =f.submit 'Find Employees'
    &nbsp;
    %input{:type => 'reset', :class => 'force_reset'}
