%h1="Find #{@instance_name.pluralize}:"
%div{:class => @instance_name == 'employee' ? 'yui-gd' : 'yui-g'}
  .yui-u.first
    =render :partial => @search_form, :locals => {:destination => @destination, :html_results => @html_results, "#{@instance_name}_to_search".to_sym => @new_instance }
  .yui-u
    .search_results