.yui-g
  .yui-u.first
    #employee_search
      %h1 Find an employee:
      =render :partial => 'find_employees', :locals => {:employee_to_search => @employee_search_params, :destination => @employee_destination, :html_results => @employee_html_results, :ac => ''}
  .yui-u
    #phone_search  
      %h1 Find a phone number:
      =render :partial => 'find_phones', :locals => {:phone_to_search => @phone_search_params, :destination => @phone_destination, :html_results => @phone_html_results, :phone_categories => @phone_categories, :ac => ''}
#search_results
  -if @phones
    =render :partial => 'phones/search_results', :locals => {:phones => @phones}
  -elsif @employees
    =render :partial => 'employees/search_results', :locals => {:employees => @employees} 
  
