html, body {
  height: 100%;
  margin: 0 0 1px;
  padding: 0;
}

html{
  background:#101010 none repeat scroll;
}
a{
  text-decoration:underline;
  color:blue;
}

/*--- border radius for fun on firefox ---*/
#doc2{  -moz-border-radius:10px;}
#hd{  -moz-border-radius-topleft:8px;-moz-border-radius-topright:8px;cursor:hand;}
#bd{  -moz-border-radius-bottomleft:8px;-moz-border-radius-bottomright:8px;}

a#link_home{
  margin-left:-30px;
  margin-top:-30px;
  display:block;
  height:140px;
  width:100%;
  padding:10px;
  color:#E4E4C3;
}
h1{
  font-size:131%;
  padding:10px 0px;
  text-align:left;
}
h2{
	font-weight:bold;
}
h3{
  font-size:108%;
  padding: 5px 0;
  text-align:left;
}
em {
  font-style:italic;
}
p{
  padding:10px 0px;
}
#doc2{
  border:2px solid #6A744A;
}
#hd{
  background-image:url('../images/banner.png');
  background-repeat:no-repeat;
  height:97px;
  padding:30px;
  font-size:1px;
  color:#E4E4C3;
}
#nav{
  width:100%;
  height:20px;
  background-image:url('../images/nav_normal.gif');
  clear:both;
  border-bottom:2px solid #6A744A;
  text-align:right;
  padding-top:8px;
}
#nav div{
  display:inline;
  padding:5px;
}
#nav ul{
  float:left;
}
#nav ul li{
  display:block;
  float:left;
  border-right:1px solid #6A744A;
  height:100%;
  padding:0;
  margin-top:-8px;
}
#nav ul li span{
  color:#000;
  display:block;
  padding:6px;
  font-weight:bold;
  text-decoration:none;
  background-image:url('../images/nav_highlight.gif');
}
#nav ul li a span{
  background-image:url('../images/nav_normal.gif');
}
#nav ul li a:hover span{
  background-image:url('../images/nav_flip.gif');
}
#bd{
  background:#C9C99A;
  padding:10px;
  border-width:0px 1px 0px 1px;
  border-style:solid;
  border-color: #C9C99A;
}
#dialogs, #hidden_content{
  display:none;
}
#unauthorized{
  text-align:center;
  font-weight:bold;
  color:red;
  padding:30px;
}
#other_functions{
  position:absolute;
  bottom:0px;
  color:blue;
  text-decoration:underline;
  background:beige;
  padding:3px
}
/* --- Forms ---*/
div.form{
  background-color:#E4E4C3;
  border:2px solid #6A744A;
  -moz-border-radius:8px;
}
div.form > *{
  margin:10px;
}
div.form.very_large p.field label{
  width:120px;
}
div.form.very_large{
	width:805px;
	margin:1em auto;
}
div.form.very_large p.field span.value{
	font-weight:bold;
}
p.field {
  clear:both;
}
#phone_search table {
	margin-top:-1.1em;
}
#phone_search table tr.label td{
  text-align:center;
  font-size:.9em;
}
.submit{
  text-align:center;
}
p.submit {
  clear:both;
}
p.first_name label,
p.last_name label,
p.position_number label,
p.building label,
p.room label,
p.floor label,
p.building_identifier label,
p.area_code label,
p.main_number label,
p.phone_category label,
p.phone_number label,
p.field label
{
  display:block;
  float:left;
  width:110px;
  text-align:left;
}

#employee_search, #location_search, #phone_search{
  height:300px;
}
#location_building_id{width:142px;}

fieldset.contractor_flag, fieldset.active_flag, fieldset.vacant{
  display:block;
  width:90px;
  padding:2px 0px 2px 2px;
  margin:2px;
  border:solid 1px #A6B180;
  font-weight:bold;
  float:left;
  margin-right:15px;
}
fieldset.vacant {
	clear:both;
}
fieldset.contractor_flag label, 
fieldset.active_flag label, 
fieldset.vacant label{
  display:block;
  font-weight:normal;
  display:block;
  width:60px;
  height:1.2em;
  padding:3px 3px 3px 7px;
  position:relative;
}
.contractor_flag input, 
.active_flag input, 
.roles input, 
.vacant input{
  float:right;
  margin-top:-0.1em;
}


p.roles {
  width:130px;
  clear:both;
  float:none;
}

form.yui-gd .yui-u.first {
  /*border-right:solid 1px #6A744A;*/
  margin-right:-1px;
}
/* --- tables --- */

table.round {
  background-color:#E4E4C3;
  border:2px solid #6A744A;
  -moz-border-radius:8px;
}
table thead th{
  text-align:center;
}
table.results{
  margin:10px auto;
}
table.results td, table.results th{
  border-collapse:collapse;
  border:1px solid #6A744A;
  padding:3px;
}
table.results th{
  background-color:#A6B180;
  font-weight:bold;
}
table.results tr.even td,
table.record_details tr.even td{
  background-color:#D9DBB7;
}
table.results tr.odd td,
table.record_details tr.odd td{
  background-color:#CACFA7;
}
table.results td.true{
  background-image:url('../images/green_check.png');
  background-position:center;
  background-repeat:no-repeat;
}
table.results th.phone_and_type, table.results td.phone_and_type{
  width:100px;
}
table.results.tight td,table.results.tight td{
  padding:3px 1px;
  font-size:85%;
}
table.editor{
  text-align:left;
}
table.editor td{
  padding-top:15px;
}
table.editor col.field_value{
	font-weight:bold;
}
table.editor.record_details{
	margin:1px;
}
table.editor.record_details td{
  padding:.5em .7em;
}

#phone_edit table.associations select{
  width:135px;
}
table.associations th{
  text-align:center;
}

table.associations td{
  text-align:left;
}
table.associations th, table.associations td{
  border:1px solid #000;
  padding:2px;
}


/* ---- DIALOG CONTENT --- */
.ui-dialog-content{
  text-align:left;
}
.ui-dialog-content ul li{
  list-style:disc;
  margin: 5px;
}

.notice{
  background-color:#D1EFD2;
  width:100%;
  text-align:center;
  margin:5px 10px 5px -5px;
  padding:3px;
  border:2px solid green;
}

.error{
  background-color:#FFBBBB;
  width:100%;
  text-align:center;
  margin:5px 10px 5px -5px;
  padding:3px;
  border:2px solid red;
}
 .confidential{
  background-color:#FFBBBB;
  text-align:center;
  margin:5px 10px 5px 5px;
  padding:3px;
  border:2px solid red;
}
.errorExplanation, .fieldWithErrors{
  background-color:#FFBBBB;
  margin:5px 10px 5px -5px;
  padding:3px;
  border:2px solid red;
}
.fieldWithErrors{
  margin:0;
}
/* ---- DIALOG FORMS ---- */

.ui-dialog-content form > p label {
  display:block;
  float:left;
  width:6em;
}
.ui-dialog-content p.phone_number,
.ui-dialog-content p.phone_category {
	clear:both;
}
.ui-dialog-content p.phone_number label,
.ui-dialog-content p.phone_category label {
	width:9em;
}
.ui-dialog-content .yui-u.first table.label {
	margin-top:-1em;
}
/* ---- Location form for main search ----*/

/* --- Phone search form --*/
input#phone_area_code,
input#phone_main_number_3,
input#phone_main_number_4
{
  text-align:center;
}

#save_button {
  text-align:center;
  background-color:#CACFA7;
  padding:10px;
  border:1px solid #6A744A;
}
#save_button input, input#save_button, a#save_button{
  padding:0px 10px;
  cursor:hand;
}

td.edit{ text-align:center;}
.right{
  text-align:right;
}
.center{
  text-align:center;
}
.left{
  text-align:left;
}
.ui-dialog p.wide label {
  clear:both;
  width:13em;
}

/* --- FANCY NUMBERING --- */
 .one, .two, .three, .four{
  background-image:url('../images/numbers_dark_green.png');
}
.form .one,.form .two,.form .three,.form .four{
  background-image:url('../images/numbers_form.png');
}
.ui-dialog-content .one,
.ui-dialog-content .two,
.ui-dialog-content .three,
.ui-dialog-content .four{
  background-image:url('../images/numbers.png');
}

.one, .two, .three, .four {
  background-position:top left;
  background-repeat:no-repeat;
  padding-left: 55px;
  padding-bottom:0;
  padding-top:0;
  line-height: 50px;
}
.two {
  background-position: 0 -50px;
}
.three {
  background-position: 0 -100px;
}
.four {
  background-position: 0 -150px;
}
small.below_number {
  position:relative;
  bottom:15px;
  left:55px;
}
.form ul li{
	list-style:disc;
	margin:0 1em;
	padding: .2em;
}
