- if logged_in?
  #user-bar-greeting='Logged in as '+ link_to(current_user.name, change_password_path(:id => current_user.id), { :title => "Change password" })
  #user-bar-action=link_to("Log out", logout_path, { :title => "Log out" })
- else
  #user-bar-greeting= link_to_login_with_IP('Not logged in', :style => 'border: none;')
  #user-bar-action= link_to( "Log in",  login_path,  { :title => "Log in" })
