
.form(style='width: 350px; margin: auto')
  %p.strong
    Changing the password for:
    %br
    = current_user.employee.full_name
  - form_for current_user, :url => {:action => 'change_password'} do |f|
    %p.field
      %label.block{ :for => "password", :style => 'width: 140px' }
        New Password
      = password_field_tag 'password', {}, :size => 25, :class => 'text'
      %br
      %small Between 6 and 40 characters
    %p.field
      %label.block{ :for => "password_confirmation" , :style => 'width: 140px'}
        Confirm new password
      = password_field_tag 'password_confirmation', {}, :size => 25, :class => 'text'
    %p.center
      = submit_tag 'Change password'
