%h1='Editing: '+@user.employee.full_name
- form_for @user do |f|
  Roles:
  -@roles.each do |role|
    %p.wide
      %label= role.name
      = check_box_tag "user[role_ids][]", role.id, @user.has_role?(role.name)
  %p
    =f.submit "Save #{@user.employee.full_name}"