     <h1>Password Reset Request</h1>
    <% form_for :user, :url => {:action => 'forgot_password'} do |form| %>
        <fieldset>
         <p>Enter the e-mail address that you have on file with People First. We will 
         send you a password reset link to that e-mail address.</p>
            <p>
                <label for="user_email" >E-mail Address:</label><br/>
                <%= form.text_field :email, :size => 35, :class => 'text' %>
            </p>
            <%= submit_tag 'Send' %>
        </fieldset>
    <% end %> 