%div{:class => (logged_in? && current_user.has_role?('Administrator')) ? 'yui-ge' : ''}
  %div{:class => (logged_in? && current_user.has_role?('Administrator')) ? 'yui-u first' : ''}  
    .form
      %h1 Application Users
      %table#application_users.results
        %thead
          %tr
            %th{:rowspan => 2} Name
            %th{:rowspan => 2} Phone number
            %th{:rowspan => 2} E-mail
            %th{:colspan => 2} Roles
            -if logged_in? && current_user.has_role?('Administrator')
              %th{:colspan => 2, :rowspan => 2}
          %tr
            %th Admin
            %th Read only
  
        %tbody
          -@users.each do |u|
            %tr{ :class => cycle('odd', 'even')}
              %td= (u == current_user) ? link_to( u.employee.full_name, change_password_url(u.id), :class => 'simple_ajax_dialog') : u.employee.full_name
              %td=u.four_11_phone.to_label if u.four_11_phone
              %td=u.employee.email
              %td{:class => u.has_role?('Administrator') ? 'true': 'false'}
              %td{:class => u.has_role?('Read Only') ? 'true': 'false'}
              -if logged_in? and current_user.has_role?('Administrator')
                %td=(u.employee.active_flag?) ? link_to('Edit', edit_user_path(:id => u.id), :class => 'simple_ajax_dialog') : link_to(image_tag('invalid.png',:alt => 'Invalid'), {:controller => 'employees', :action => 'why_invalid', :id => u.employee.id }, :class => 'simple_ajax_dialog')
                %td=link_to image_tag('delete.png', :alt => 'Delete User'), delete_user_path(u.id), :class => 'confirm_action_dialog', :title => 'delete this user'
  -if logged_in? and current_user.has_role?('Administrator')
    .yui-u
      .form
        %h1 Add Users
        =render :partial => 'search/find_employees', :locals => {:employee_to_search => @search_params, :destination => @search_results_for_user_add, :html_results => @html_results, :ac => ' omit_users'}