.form{:style => 'margin:10px auto;width:350px;'}
  -if @user
    - form_for :user, :url => {:action => "reset_password"} do |form|
      %h1="Hello #{@user.employee.full_name}."
      %p Thank you for changing your password!
      %p
        %label{ :for => "user_password" }
          New password:
        %br
        = form.password_field :password, :size => 45, :class => 'text'
      %p
        %label{ :for => "user_password_confirmation" }
          Confirm your new password:
        %br
        = form.password_field :password_confirmation, :size => 45, :class => 'text'
      = submit_tag "Change password"
  -else
    %p Sorry, we could not find a user with the link you provided.
    %p Please check the following:
    %ul
      %li Check that you have entered the full link in web address bar.
      %li Check that you are using the most recent email we sent you. 
    %p
      If the above steps do not solve the ploblem, please contact applications support at the following address:
      =mail_to APP_CONFIG['mail']['apps_support'], APP_CONFIG['mail']['apps_support'], :subject => @mail_subject, :body => @mail_body
