-if @employees.size == 0
  %h1 No employees found
  %p Sorry, no employees match that criteria.
  %p Please try broadening your search criteria.
-else
  %h1 Select a user to add:
  %table#add_users.results
    %thead
      %tr
        %th Name
        %th E-mail
        %th Add
    %tbody
      -@employees.each do |e|
        %tr{:class => cycle('odd', 'even')}
          %td=e.full_name
          %td=e.email unless e.email.blank?
          %td
            -if e.valid?
              =link_to image_tag('add.png',:alt => 'Add'), {:controller => 'users', :action => 'add_employee', :id => e.id }, :class => 'confirm_action_dialog', :title => 'add this user'
            -else
              =link_to image_tag('invalid.png',:alt => 'Invalid'), {:controller => 'employees', :action => 'why_invalid', :id => e.id }, :class => 'simple_ajax_dialog'