%h1
  Listing counties
%table.results
  %tr
    %th
      Fips code
    %th
      Name
    %th
      People first code
    %th{:colspan => 2}Edit
  - for county in @counties
    %tr{:class => cycle('odd', 'even')}
      %td
        = h county.fips_code
      %td
        = h county.name
      %td
        = h county.people_first_code
      %td
        = link_to 'Edit', edit_county_path(county)
      %td
        = link_to 'Delete', county, :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New county', new_county_path
