%h1
  New county
- form_for(@county) do |f|
  = f.error_messages
  %p
    = f.label :fips_code
    %br
    = f.text_field :fips_code
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :people_first_code
    %br
    = f.text_field :people_first_code
  %p
    = f.submit "Create"
= link_to 'Back', counties_path
