%p
  %b
    Fips code:
  = h @county.fips_code
%p
  %b
    Name:
  = h @county.name
%p
  %b
    People first code:
  = h @county.people_first_code
= link_to 'Edit', edit_county_path(@county)
|
= link_to 'Back', counties_path
