html, body
  height: 100%
  margin: 0 0 1px
  padding: 0


html
  background: #101010 none repeat scroll


a
  text-decoration: underline
  color: blue


#doc2
  -moz-border-radius: 10px


#hd
  -moz-border-radius-topleft: 8px
  -moz-border-radius-topright: 8px
  cursor: hand


#bd
  -moz-border-radius-bottomleft: 8px
  -moz-border-radius-bottomright: 8px


a#link_home
  margin-left: -30px
  margin-top: -30px
  display: block
  height: 140px
  width: 100%
  padding: 10px
  color: #E4E4C3


h1
  font-size: 131%
  padding: 10px 0px
  text-align: left


h2
  font-weight: bold


h3
  font-size: 108%
  padding: 5px 0
  text-align: left


em
  font-style: italic


p
  padding: 10px 0px


#doc2
  border: 2px solid #6A744A


#hd
  background-image: url('../images/banner.png')
  background-repeat: no-repeat
  height: 97px
  padding: 30px
  font-size: 1px
  color: #E4E4C3


#nav
  width: 100%
  height: 20px
  background-image: url('../images/nav_normal.gif')
  clear: both
  border-bottom: 2px solid #6A744A
  text-align: right
  padding-top: 8px

  div
    display: inline
    padding: 5px

  ul
    float: left

    li
      display: block
      float: left
      border-right: 1px solid #6A744A
      height: 100%
      padding: 0
      margin-top: -8px

      span
        color: #000
        display: block
        padding: 6px
        font-weight: bold
        text-decoration: none
        background-image: url('../images/nav_highlight.gif')

      a
        span
          background-image: url('../images/nav_normal.gif')

        &:hover span
          background-image: url('../images/nav_flip.gif')


#bd
  background: #C9C99A
  padding: 10px
  border-width: 0px 1px 0px 1px
  border-style: solid
  border-color: #C9C99A


#dialogs, #hidden_content
  display: none


#unauthorized
  text-align: center
  font-weight: bold
  color: red
  padding: 30px


#other_functions
  position: absolute
  bottom: 0px
  color: blue
  text-decoration: underline
  background: beige
  padding: 3px



div.form
  background-color: #E4E4C3
  border: 2px solid #6A744A
  -moz-border-radius: 8px

  > *
    margin: 10px

  &.very_large
    width: 805px
    margin: 1em auto

    p.field
      label
        width: 120px

      span.value
        font-weight: bold


p.field
  clear: both


#phone_search table
  margin-top: -1.1em

  tr.label td
    text-align: center
    font-size: .9em


.submit
  text-align: center


p
  &.submit
    clear: both

  &.first_name label, &.last_name label, &.position_number label, &.building label, &.room label, &.floor label, &.building_identifier label, &.area_code label, &.main_number label, &.phone_category label, &.phone_number label, &.field label
    display: block
    float: left
    width: 110px
    text-align: left


#employee_search, #location_search, #phone_search
  height: 300px


#location_building_id
  width: 142px


fieldset
  &.contractor_flag, &.active_flag
    display: block
    width: 90px
    padding: 2px 0px 2px 2px
    margin: 2px
    border: solid 1px #A6B180
    font-weight: bold
    float: left
    margin-right: 15px

  &.vacant
    display: block
    width: 90px
    padding: 2px 0px 2px 2px
    margin: 2px
    border: solid 1px #A6B180
    font-weight: bold
    float: left
    margin-right: 15px
    clear: both

  &.contractor_flag label, &.active_flag label, &.vacant label
    display: block
    font-weight: normal
    display: block
    width: 60px
    height: 1.2em
    padding: 3px 3px 3px 7px
    position: relative


.contractor_flag input, .active_flag input, .roles input, .vacant input
  float: right
  margin-top: -0.1em
