!maroon   = RGB(99,37,35)
!light_maroon= RGB(221,217,195)
!light    = RGB(222,231,209)
!lightest = RGB(239,243,234)
!middle   = RGB(195,214,155)
!form     = #E4E4C3
!dark     = #C9C994
!darker   = #93A16B
!darkest  = #6A744A
!b        = #000000
!w        = #FFFFFF
=maroon
  color= !maroon
=ta_right
  text-align: right
=ta_left
  text-align: left
=ta_center
  text-align: center
=f_left
  float: left
=f_right
  float: right
html, body
  height: 100%
  margin: 0 0 1px
  padding: 0


html
  background: #101010 none repeat scroll
a
  text-decoration: underline
  color: blue

#doc2
  -moz-border-radius: 10px

#hd
  -moz-border-radius-topleft: 8px
  -moz-border-radius-topright: 8px
  cursor: hand

#bd
  -moz-border-radius-bottomleft: 8px
  -moz-border-radius-bottomright: 8px

a#link_home
  margin-left: -30px
  margin-top: -30px
  display: block
  height: 75px
  width: 100%
  padding: 10px
  color: #004369

h1
  font-size: 131%
  padding: 10px 0px
  text-align: left
  font-weight: bold

  &.page_header
    height: 45px
    width: 97%
    text-align: center
    font-size: 182%
    padding: 20px 0 0 0
    background-image: url('../../images/header.png')
    background-position: center
    background-repeat: no-repeat
    +maroon
h2
  font-size: 153.9%
  +maroon
  text-align: center
  padding-bottom: .5em


h3
  font-size: 108%
  padding: 5px 0
  text-align: left


em
  font-style: italic

p
  padding: 10px 0px

#doc2
  border= 2px "solid" !darkest

#hd
  background-image: url('../../images/banner_dms.png')
  background-repeat: no-repeat
  height: 15px
  padding: 30px
  font-size: 1px
  color: #E4E4C3

#nav
  width: 100%
  height: 20px
  background-image: url('../../images/nav_normal.gif')
  clear: both
  border-bottom= 2px "solid" !darkest
  text-align: right
  padding-top: 8px

  div
    display: inline
    padding: 5px

  ul
    float: left

    li
      display: block
      float: left
      border-right= 1px "solid" !darkest
      height: 100%
      padding: 0
      margin-top: -8px

      span
        color: #000
        display: block
        padding: 6px
        font-weight: bold
        text-decoration: none
        background-image: url('../../images/nav_highlight.gif')

      a
        span
          background-image: url('../../images/nav_normal.gif')

        &:hover span
          background-image: url('../../images/nav_flip.gif')


#bd
  background: #C9C99A
  padding: 10px
  border-width: 0px 1px 0px 1px
  border-style: solid
  border-color: #C9C99A


#dialogs, #hidden_content
  display: none


#unauthorized
  text-align: center
  font-weight: bold
  color: red
  padding: 30px


#other_functions
  position: absolute
  bottom: 0px
  color: blue
  text-decoration: underline
  background: beige
  padding: 3px

#edit_master_relation
  +ta_center

  a.fancy_button 
    display: block
    line-height: 1.4em
    margin: 0.5em 0.4em 0.5em 0
    overflow: visible
    padding: 0.2em 0.6em 0.3em
    width: auto
    cursor: pointer
    text-decoration: none

div.form
  background-color: #E4E4C3
  border= 2px "solid" !darkest
  -moz-border-radius: 8px

  > *
    margin: 10px

  &.very_large
    width: 805px
    margin: 1em auto

    p.field
      label
        width: 120px

      span.value
        font-weight: bold


p.field
  clear: both


#phone_search table
  margin-top: -1.1em

  tr.label td
    text-align: center
    font-size: .9em


.submit
  text-align: center


p
  &.submit
    clear: both

  &.first_name label, &.last_name label, &.position_number label, &.building label, &.room label, &.floor label, &.building_identifier label, &.area_code label, &.main_number label, &.phone_category label, &.phone_number label, &.field label
    display: block
    float: left
    width: 110px
    text-align: left

#employee_search, #location_search, #phone_search
  background-image: url('../../images/form.png')
  background-position: center
  background-repeat: no-repeat
  height: 308px
  border: none
  background-color= !dark

  > *
    margin: 10px

  &.very_large
    width: 805px
    margin: 1em auto

    p.field
      label
        width: 120px

      span.value
        font-weight: bold

#location_building_id
  width: 142px
#page_navigation_links
  height: 1.5em
#back_to_search_results
  +f_left
#incorrect_information
  +f_right
#email_incorrect_info
  +ta_center
  display: block
  clear: both
  background-color= !dark
  padding: 5px
  margin: 0 auto
  border= 1px !darkest "solid"
  height: 1em
  width: 8em
  text-decoration: none
#phone_support, #people_first_support
  
fieldset
  &.contractor_flag, &.active_flag
    display: block
    width: 90px
    padding: 2px 0px 2px 2px
    margin: 2px
    border: solid 1px #A6B180
    font-weight: bold
    float: left
    margin-right: 15px

  &.vacant
    display: block
    width: 90px
    padding: 2px 0px 2px 2px
    margin: 2px
    border: solid 1px #A6B180
    font-weight: bold
    float: left
    margin-right: 15px
    clear: both

  &.contractor_flag label, &.active_flag label, &.vacant label
    display: block
    font-weight: normal
    display: block
    width: 60px
    height: 1.2em
    padding: 3px 3px 3px 7px
    position: relative

.contractor_flag input, .active_flag input, .roles input, .vacant input
  float: right
  margin-top: -0.1em


p.roles
  width: 130px
  clear: both
  float: none


form.yui-gd .yui-u.first
  margin-right: -1px

table
  tr.odd td
    background-color = !light
  tr.even td
    background-color = !lightest
  tr.main_table_headers th
    font-size: 138.5%
    +maroon
    background-color= !light_maroon 
  tr.minor_table_headers 
    th
      background-color = !middle
      border = 1px "solid" !b
    td.divider, th.divider
      border-right = 3.5px "solid" !b
  tr
    td.sortable, th.sortable
      background-position: right center
      background-repeat: no-repeat
      &.ascending
        background-image: url('/images/down_arrow.png')
      &.descending
        background-image: url('/images/up_arrow.png')
      a
        display: block
        padding-right: 12px
        color= !w
  &.associations
    margin: 0px auto
    border= 3.5px "solid" !darkest
    width: 100%
    td, th
      padding: 4px
    td
      border = 1px "solid" !b
    tr th.divider, tr td.divider
      border-right= 3.5px "solid" !darkest
    thead
      font-weight: bold

  &.details
    border= 3.5px "solid" !darkest
    td
      padding: 5px 3px
      border= 2px "solid" !dark

  &.dialog_form
    border-width: 0px
    //margin: 0px auto
    td
      padding: 5px 3px
      border= 2px "solid" !form

  &.round
    background-color= !form
    border= 2px "solid" !darkest
    -moz-border-radius: 8px

  tbody
    td.editable:hover
      opacity: 0.80
      background-color= !middle
      cursor: hand
      
      a
        display: block
        width: 100%
        height: 100%
        margin: 0
        padding: 0

  thead th
    text-align: center
    
    &.clear
      cursor: hand
  &.results
    margin: 10px auto

    tr.main_table_headers th
      background-color= !middle
      color= !b
    td
      border-collapse: collapse
      border= 1px "solid" !darkest
      padding: 7px
    td.true
      background-image: url('../../images/green_check.png')
      background-position: center
      background-repeat: no-repeat
    th
      border-collapse: collapse
      border= 1px "solid" !darkest
      padding: 3px
      background-color: #A6B180
      font-weight: bold
    th.phone_and_type, td.phone_and_type
      width: 100px

  &.editor
    text-align: left

    td
      padding-top: 15px

    col.field_value
      font-weight: bold

    &.record_details
      margin: 1px

      td
        padding: .5em .7em

#phone_edit table.associations select
  width: 135px

#add_remove_links
  float: right

  a
    text-decoration: none

.ui-dialog-content
  text-align: left

.notice
  background-color: #D1EFD2
  width: 100%
  text-align: center
  margin: 5px 10px 5px -5px
  padding: 3px
  border: 2px solid green


.error
  background-color: #FFBBBB
  width: 100%
  text-align: center
  margin: 5px 10px 5px -5px
  padding: 3px
  border: 2px solid red

div.confidential
  background-color: #FFBBBB
  text-align: center
  margin: 5px 10px 5px 5px
  padding: 3px
  border: 2px solid red

.errorExplanation
  background-color: #FFBBBB
  margin: 5px 10px 5px -5px
  padding: 3px
  border: 2px solid red

.fieldWithErrors
  background-color: #FFBBBB
  margin: 5px 10px 5px -5px
  padding: 3px
  border: 2px solid red
  margin: 0

.ui-dialog-content
  form > p label
    display: block
    float: left
    width: 6em

  p
    &.phone_number, &.phone_category
      clear: both

    &.phone_number label, &.phone_category label
      width: 9em

  .yui-u.first table.label
    margin-top: -1em

input
  &#phone_area_code, &#phone_main_number_3, &#phone_main_number_4
    text-align: center

#save_button
  text-align: center
  background-color: #CACFA7
  padding: 10px
  border= 1px "solid" !darkest

  input
    padding: 0px 10px
    cursor: hand

input#save_button, a#save_button
  padding: 0px 10px
  cursor: hand

td.edit
  text-align: center

.right
  text-align: right

.center
  text-align: center

.left
  text-align: left

.ui-dialog p.wide label
  clear: both
  width: 13em

.one, .two, .three, .four
  background-image: url('../../images/numbers_dark_green.png')

.form
  .one, .two, .three, .four
    background-image: url('../../images/numbers_form.png')

.ui-dialog-content
  .one, .two, .three, .four
    background-image: url('../../images/numbers.png')

.one, .two, .three, .four
  background-position: top left
  background-repeat: no-repeat
  padding-left: 55px
  padding-bottom: 0
  padding-top: 0
  line-height: 50px

.two
  background-position: 0 -50px

.three
  background-position: 0 -100px

.four
  background-position: 0 -150px

small.below_number
  position: relative
  bottom: 15px
  left: 55px

.form ul li
  list-style: disc
  margin: 0 1em
  padding: .2em

.link_button
  background-color= !form
  background-image: none
  display: inline
  border: none
  text-decoration: underline
  color: #0000FF
  padding: 0
  margin: 0
  text-align: left

.strong
  font-weight: bold
strong
  font-weight: bold
.hide
  display: none

.dark
  background-color= !dark

.pagination
  +ta_center
