.yui-gb
  .yui-u.first
    .form(style='height:325px')
      %h1 DMS Directory
      %p 
        The DMS Directory houses DMS employee phone numbers and locations, 
        and sends the information to 911 administrators nightly.
        A state-wide directory is available at the
        =link_to('411 Directory', 'http://411.myflorida.com')+ '.'
  .yui-u
    -if @user
      .form
        %p.center
          Logged in as:
          =@user.employee.full_name
        %p.center=link_to "Change Password", change_password_path
    -else
      =render :partial => 'sessions/new'
  .yui-u
    .form(style='height:325px')
      %h1 Create an Account
      %p
        If you are a DMS employee, to access the DMS Directory, please create an account. You can do so
        by typing in the e-mail address you have on file with 
        %strong 
          People First  
        below.
      %p
        -form_for(User.new) do |f|
          =f.error_messages
          =text_field_tag :email, '',:size => 30
          %br
          %br
          =f.submit "Request an account"

