%h1 Buildings and Locations
.yui-gb
  .yui-u.first
    .form
      %h2 Campuses
      %p A campus is a group of buildings that are spread out across multiple physical addresses (i.e street numbers).
      %p Campuses should not be used to identify multiple buildings using the same street number. For example, Buildings labeled A and B usually share the same physical address, and therefore effectively they belong to the same physical address and building.
      %p Building identifiers such as 'Building A' should be stored at the location level.
      %ul
        %li=link_to 'Manage campuses', :controller => 'campuses'
  .yui-u
    .form
      %h2 Buildings
      %p For the purposes of this database, a building is any structure with its own physical address.
      %p Some buildings have the same physical address, but are referred to as different 'buildings.' Nonetheless, if they have the same physical address, for the purposes of this database, they are considered the same building.
      %ul
        %li=link_to 'Manage buildings', :controller => 'buildings'
  .yui-u
    .form
      %h2 Locations
      %p A location points to a specific room or unit. It is smallest reference that the DMS Directory stores.
      %ul
        %li=link_to 'Manage Locations', :controller => 'locations'
