-form_for Building.search, :url => destination, :html => html_results.merge({:id => 'building_query'}) do |f|
  =hidden_field_tag 'building_query', 'true'
  %table.dialog_form(style='margin: 0px auto')
    %tbody
      %tr.odd
        %td=label_tag 'campus'
        %td=building_select_campus
      %tr.even
        %td=label_tag 'county'
        %td=select 'search', 'county_id', County.all.map {|c| [c.name, c.id]}, :include_blank => true
      %tr.odd
        %td=label_tag 'zip_code'
        %td=f.text_field 'zip_code_5_like', :class => 'autocomplete search-zip_codes', :size => 20, :maxlength => 5
      %tr.even
        %td=label_tag 'building_name'
        %td=f.text_field 'name_like', :class => 'autocomplete search-buildings', :size => 20
      %tr.advanced_search.odd(style="display:none")
        %td=label_tag 'city'
        %td=f.text_field 'city_like', :class => 'autocomplete search-cities', :size => 20
      %tr.even.advanced_search(style="display:none")
        %td=label_tag 'Street Address'
        %td=f.text_field 'full_street_address_like', :class => 'autocomplete search-street_addresses', :size => 20
  %p.field(style='text-align: center')
    =f.submit 'Find buildings'
    &nbsp;
    %button(rel="toggle_advanced_search" onclick="return false;") Advanced Search
    %input{:type => 'reset'}
-form_tag destination, html_attributes_for_building_locations(html_results.merge({:style => ' float: right; display: none;'})) do |f|
  =hidden_field_tag 'location_query', 'true'
  =hidden_field_tag 'search[building_id]', ''
  %p
    %strong Narrow Search Results:
  %table.dialog_form
    %tbody
      %tr.odd
        %td=label_tag 'floor'
        %td=select_tag 'search[floor_equals]', ''
      %tr.even
        %td=label_tag 'room'
        %td=text_field_tag 'search[room_like]', ''
  %p.field
    =submit_tag 'Find Locations'
    %input{:type => 'reset', :class => 'force_reset'}
