-form_for @master_relation, :class => 'custom_replace_results', :rel => '#search_results'  do |f|
  %table.results
    %thead
      %tr
        %th Number
        %th Category
        %th
    %tbody
      -for phone in @phones do
        %tr{:class => cycle('odd', 'even')}
          %td=h phone.to_label
          %td=h phone.phone_category.name.capitalize rescue ''
          %td=image_submit_tag '/images/add.png', :value => phone.id, :name => 'phone'
  = page_entries_info @phones, :entry_name => 'phone'
  = will_paginate @phones, :page_links => false,  :param_name => 'search_page', :class => 'pagination custom_replace_results', :rel => '#search_results'
