-form_for @master_relation, :class => 'custom_replace_results', :rel => '#search_results' do
  %table.results
    %thead
      %tr
        %th{:class => ['sortable',@order_params[:last_name][:current]].compact.join(' ')}=link_to 'Name', add_employee_search_results_path(@order_params[:last_name]), :rel => '#search_results', :class => 'custom_replace_results'
        %th{:class => ['sortable', @order_params[:email][:current]].compact.join(' ')}=link_to 'E-mail', add_employee_search_results_path(@order_params[:email]), :rel => '#search_results', :class => 'custom_replace_results'
        %th
    %tbody
      -for employee in @employees do
        %tr{:class => cycle('odd', 'even')}
          %td=h [employee[:first_name],employee[:last_name]].join ' '
          %td=h employee[:email]
          %td=image_submit_tag '/images/add.png', :value => employee.id, :name => 'employee'
  .center= page_entries_info @employees, :entry_name => 'employee'
  = will_paginate @employees, :page_links => false, :class => 'pagination custom_replace_results center', :rel => '#search_results'
