-if !@buildings.blank?
  %h1 Please click your desired building:
  %small="(#{page_entries_info @buildings, :entry_name => 'building'})"
  %table.results
    %thead
      %tr
        %th{:class => ['sortable',@order_params[:name][:current]].compact.join(' ')}=sort_link_for "Building name", :name
        %th{:class => ['sortable',@order_params[:full_street_address][:current]].compact.join(' ')}=sort_link_for "Street Address", :full_street_address
        %th{:class => ['sortable',@order_params[:city][:current]].compact.join(' ')}=sort_link_for "City", :city

    %tbody
      -@buildings.each do |building|
        %tr{:class => cycle('odd', 'even')}
          %td=select_building_link building
          %td=h building.full_street_address
          %td=h building.city
  .center
    %br
    = will_paginate @buildings, :page_links => false, :class => 'pagination custom_replace_results', :rel => "#add_location_to_employee"
-elsif !@locations.blank?
  -form_for @master_relation do |f|
    =hidden_field_tag :limiting_building_id, @locations.first.building.id
    =hidden_field_tag :floors, @floors
    %div(style='position:absolute;top:40px;left:10px;')
      %p
        %strong Locations in building:
      %p{:style => 'padding:0; margin-top:-10px;'}
        %br
        =@locations.first.building.name
        %br
        =h @locations.first.building.full_street_address
        %br
        =h @locations.first.building.city
    %table.results(style="clear: both")
      %col.bldg_id
      %col.floor
      %col.room
      %col.clear
      %thead
        %tr
          %th{:class => ['sortable',@order_params[:building_identifier][:current]].compact.join(' ')}=sort_link_for "Bldg. ID", :building_identifier
          %th{:class => ['sortable',@order_params[:floor][:current]].compact.join(' ')}=sort_link_for "Floor", :floor
          %th{:class => ['sortable',@order_params[:room][:current]].compact.join(' ')}=sort_link_for "Room", :room
          %th
      %tbody
        -unless @locations.nil?
          -for location in @locations do
            %tr{:class => cycle('odd', 'even')}
              %td=location.building_identifier
              %td=location.floor
              %td=location.room
              %td=image_submit_tag '/images/add.png', :value => location.id, :name => 'location'
    .center
      = page_entries_info @locations, :entry_name => 'location'
      %br
      = will_paginate @locations, :page_links => false, :params => @extra_params, :class => 'pagination custom_replace_results', :rel => '#search_results'
-else
  %p
    %strong Sorry, no buildings or locations were found.
