%h1= "Editing #{@component.class.to_s.downcase} for #{@master_relation.send(@from).to_label}"
-if @component
  %p="Current #{@component.class.to_s.downcase} is #{@component.to_label}"
  #edit_master_relation.yui-g
    .yui-u.first
      =edit_component_link(@master_relation.id, @component.class.to_s.downcase)
    .yui-u
      =delete_component_link(@master_relation.id, @component.class.to_s.downcase)
