%h1 Unsent Changes
%table.unsent_changes.results
  %thead
    %th Action
    %th Item
    %th Scheduled Send
  %tbody
    
    -@unsent_changes.each do |uc|
      -row = cycle('odd', 'even')
      -if uc.changes.size == 1
        %tr{:class => row}
          %td= uc.change_description
          %td=item_label(uc)
          %td=h uc.scheduled_send
      -else
        =many_changes(uc, row)
      
=link_to 'Send changes now', send_changes_path(:user_id => current_user.id)
