- form_for(form) do |f|
  .yui-g
    .yui-u.first
      = f.error_messages
      %p.field
        = f.label :name
        = f.text_field :name
      %p.field 
        = f.label :alias
        = f.text_field :alias
      %p.field 
        = f.label :state
        = f.text_field :state, :size => 3
      %p.field
        =f.label :county
        =select_county
      %p.field 
        = f.label :city
        = f.text_field :city
      %p.field
        =f.label :campus
        =select_campus
    .yui-u
      %p.field 
        = f.label :street_number
        = f.text_field :street_number
      %p.field 
        = f.label :street_number_suffix
        = f.text_field :street_number_suffix
        %br
        (e.g. 1/2)
      %p.field 
        = f.label :prefix_directional 
        = select :building, :prefix_directional, directionals, {:include_blank => true}
      %p.field 
        = f.label :street_name
        = f.text_field :street_name
      %p.field 
        = f.label :street_suffix
        = select :building, :street_suffix, street_abbreviations, {:selected => form.street_suffix, :include_blank => true} 
      %p.field 
        = f.label :post_directional
        = select :building, :post_directional, directionals, {:include_blank => true}
      %p.field 
        = f.label :zip_code
        = f.text_field :zip_code_5, :size => 6, :maxlength => 5
        \-
        = f.text_field :zip_code_4, :size => 5, :maxlength => 4
    
  %p.center
    = f.submit create_or_save(form), :id => 'save_button'
%p.center
  = link_to 'Back', buildings_path
