.form{:style => 'width:850px; margin:10px auto;'}
  %h1 Listing buildings
  .center
    =page_entries_info @buildings
    =will_paginate @buildings    
  %table.results
    %tr
      %th Name
      %th Street Address
      %th City
      %th{:colspan => 3, :style => 'font-weight: normal; background-color:#E4E4C3'}= link_to 'New building', new_building_path
    - for building in @buildings
      %tr{:class => cycle('odd', 'even')}
        %td=h building.name
        %td=h building.full_street_address
        %td=h building.city
        %td= link_to 'Show', building
        %td= link_to 'Edit', edit_building_path(building)
        %td= link_to 'Delete', building, :confirm => 'Are you sure?', :method => :delete
    %tr
      %td.right{:colspan => 6}= link_to 'New building', new_building_path
  .center
    =page_entries_info @buildings
    =will_paginate @buildings    
      