.form.very_large
  %h1="Showing #{@building.name}"
  .yui-g
    .yui-u.first
      %p.field
        =label_tag :name
        %span.value= @building[:name]
      %p.field 
        =label_tag :alias
        %span.value= @building[:alias]
      %p.field 
        =label_tag :state
        %span.value= @building[:state]
      %p.field
        =label_tag :county
        %span.value=@building.county.name rescue ''
      %p.field 
        =label_tag :city
        %span.value= @building[:city]
      %p.field
        =label_tag :campus
        %span.value=@building.campus.name rescue ''
    .yui-u
      %p.field 
        =label_tag :street_number
        %span.value= @building[:street_number]
      %p.field 
        =label_tag :street_number_suffix
        %span.value= @building[:street_number_suffix]
      %p.field 
        =label_tag :prefix_directional
        %span.value= @building[:prefix_directional]
      %p.field 
        =label_tag :street_name
        %span.value= @building[:street_name]
      %p.field 
        =label_tag :street_suffix
        %span.value= @building[:street_suffix]
      %p.field 
        =label_tag :post_directional
        %span.value= @building[:post_directional]
      %p.field 
        =label_tag :zip_code
        %span.value= @building[:zip_code_5]
        %span.value= @building[:zip_code_4]
%p.center
  = link_to 'Edit', edit_building_path(@building)
  |
  = link_to 'Back', buildings_path
