%h1 What type of information is incorrect?
#incorrect_information_dialog.yui-g(style='clear:both;width:100%')
  .yui-u.first
    %h2 Details
    %p.center=check_box_tag 'phone_support', APP_CONFIG['mail']['phone_support']
    %p.center=image_tag('details.png', :alt => 'First name, last name, etc.')
  .yui-u
    %h2 Associations
    %p.center=check_box_tag 'people_first_support', APP_CONFIG['mail']['people_first_updaters']
    %p.center=image_tag('associations.png', :alt => 'Phone number or location')
%p(style='text-align:center')=link_to "Next", '#home', {:id => 'email_incorrect_info', :class => 'fancy_button ui-state-default ui-corner-all'}
