%h1 Editing campus
- form_for(@campus) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name, :size => 50
  %p
    = f.submit "Update"
= link_to 'Show', campus_path(@campus)
|
= link_to 'Back', campuses_path
