.form{:style => 'margin: 10px auto; width: 600px;'}
  %h1
    Listing campuses
  %table.results
    %thead  
      %tr
        %th Name
        %td.right{:colspan => 2}= link_to 'New campus', new_campus_path
    %tbody
      - for campus in @campuses
        %tr{:class => cycle('odd', 'even')}
          %td= campus.name
          %td= link_to 'Edit', edit_campus_path(campus)
          %td= link_to 'Delete', campus_path(campus.id), :method => :delete, :confirm => 'Are you sure you want to delete this campus?'
    %tfoot
      %tr
        %td.right{:colspan => 3}= link_to 'New campus', new_campus_path