%h1 New campus
-form_for(@campus, :url => {:action => 'create'} ) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.submit "Create"
= link_to 'Back', campuses_path
