-if nightly_changes
  #nightly_changes_from_people_first
    %h1=h query_statement
    %table.results.tight
      %thead
        %tr
          %th Action
          %th Item
          %th Field
          %th From
          %th To
      %tbody
        
        -nightly_changes.each do |uc|
          
          -row = cycle('odd', 'even')
          -if uc.changes.size == 1
            %tr{:class => row}
              %td=item_label(uc, false)
              %td= uc.change_description
              %td=label('',uc.changes.to_a[0][0]) unless uc.changes['used_for_411']
              %td=h old_attribute_value_label(uc, uc.changes.to_a[0][0]) unless uc.changes['used_for_411']
              %td=h new_attribute_value_label(uc, uc.changes.to_a[0][0]) unless uc.changes['used_for_411']
          -else
            =many_changes(uc, row, {:scheduled_send => false, :standard_changes => true})
