%h1 411 phone number differences 
%p="The following report lists differences between 411 phone numbers in People First data and #{APP_CONFIG['settings']['name']}"
-if @differences
  %table.results
    %thead
      %tr
        %th{:colspan => 2}=APP_CONFIG['settings']['name']
        %th{:colspan => 2} People First
      %tr
        %th Employee
        %th People First
        %th Employee
        %th People First
    %tbody
      -@differences.each do |diff|
        %tr{:class => cycle('odd','even')}
          %td= link_to_employee_edit(diff)
          %td=h diff[:c_phone]
          %td= link_to_employee_edit(diff)
          %td=h diff[:pf_phone]
            
  -else
    %hr
    %p="There are currently no differences between People First and #{APP_CONFIG['settings']['name']} 411 phone numbers."