!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %style{:type => 'text/css'}
      table { border-collapse:collapse;}
      table td, table th { border:1px solid black;}
  %body
    =@all_master_relations.as(:html)