-form_for(form) do |f|
  = f.error_messages

  -if f.object.new_record?
    %p
      =f.label :building
      %br
      =select(:location, :building_id, Building.find(:all, :order => 'name').map {|b| [b.name, b.id]},{:include_blank => false}, {:style => 'width:265px'})
  -else
    %p
      =f.label :building
      %br
      =f.object.building.to_label
  %p
    = f.label :building_identifier
    %br
    = f.text_field :building_identifier  
  %p
    = f.label :floor
    %br
    = f.text_field :floor
  %p
    = f.label :room
    %br
    = f.text_field :room

  %p
    = f.submit create_or_save(form)
