%h1
  Deleting location:
%strong=@location.to_label
%p This location is associated with the following employees and phone numbers:
%p Deleting this location will remove these associations
.yui-g
  .yui-u.first
    -unless @employees
      %p No employees are associated with this location.
      -else
        %table.results
          %thead 
            %tr
              %th Employee Name
          %tbody
            -@employees.each do |e|
              %tr{:class => cycle('odd', 'even')}
                %td=h e.full_name rescue ''
  .yui-u
    -unless @phones
      %p No phones are associated with this location.
      -else
        %table.results
          %thead 
            %tr
              %th Phone Number
          %tbody
            -@phones.each do |p|
              %tr{:class => cycle('odd', 'even')}
                %td=h p.to_label rescue ''
.center
  =link_to '<button>Delete this location anyway</buton>', @location, :method => :delete