.yui-gd
  .yui-g.first
    .form
      =render :partial => 'search/find_locations', :locals => {:location_to_search => @location_search_params, :destination => @location_destination, :html_results => @location_html_results, :ac => ''}
  .yui-g
    #search_results.search_results