-if @buildings.blank? && @building.blank?
  %p
    %strong Either no buildings exist with that criteria or no locations exist for the building you clicked. 
  %p If you received this after clicking the 'Find Buildings' button, you can broaden your search by removing criteria from the search boxes.
  %p For example, if you specified a room number in your last search, you may want to remove it from your next search. 
-elsif @building.blank?
  %h1.two Select a building:
  %table.results
    %thead
      %tr
        %th Building name
        %th City
        %th Street Address
    %tbody
      -@buildings.each do |building|
        %tr{:class => cycle('odd', 'even')}
          %td=link_to building.name, {:action => 'search_results', :locations_from_building => building.id, :from => @from}, :class => 'custom_replace_results'
          %td=h building.city
          %td=h building.full_street_address
  .center
    = page_entries_info @buildings, :entry_name => 'building'
    %br
    = will_paginate @buildings, :page_links => false, :param_name => 'building_page', :class => 'pagination custom_replace_results'


-else
  %h1.three Listing Locations for:
  =hidden_field_tag :limiting_building_id, @building.id 
  =hidden_field_tag :floors, @floors
  %p
    =@building.name
    %br
    =@building.full_street_address
    %br
    =@building.city
  %table.results
    %thead
      %tr.even
        %th Bldg. ID
        %th Floor/Level
        %th Room
        %td{:colspan => 2}=link_to 'New Location', new_location_path(:building_id => @building.id)
    %tbody
      -for location in @locations do
        %tr{:class => cycle('odd', 'even')}
          %td=h location.building_identifier
          %td=h location.floor
          %td=h location.room
          -if current_user.has_role?(APP_CONFIG['settings']['admin_role'])
            %td=link_to 'Edit', edit_location_path(location)
            %td=link_to 'Delete', url_for(:controller => 'locations', :action => 'associtated_employees_and_phones', :id => location.id), :class => 'simple_ajax_dialog'
    -if current_user.has_role?(APP_CONFIG['settings']['admin_role'])
      %tfoot
        %tr.even
          %td.right{:colspan => 5}= link_to 'New location', new_location_path(:building_id => @building.id)
  .center
    = page_entries_info @locations, :entry_name => 'location'
    %br
    = will_paginate @locations, :page_links => false, :param_name => 'location_page', :class => 'pagination custom_replace_results', :params => @extra_params
