.form 
  %h1
    Listing locations
  .center
    =page_entries_info @locations, :entry_name => 'location'
    =will_paginate @locations  
  %table.results
    %thead
      %tr
        %th Campus
        %th{:colspan => 2} Building
        %th Floor
        %th Room
        %th Building identifier
        %th{:colspan => 3}
    %tbody
      - for location in @locations
        %tr
          %td= h location.campus.name rescue ''
          %td= h location.building.name rescue ''
          %td= h location.building.full_street_address rescue ''
          %td= h location.floor
          %td= h location.room
          %td= h location.building_identifier
          %td= link_to 'Show', location
          %td= link_to 'Edit', edit_location_path(location)
          %td= link_to 'Delete', location, :confirm => 'Are you sure?', :method => :delete
    %tfoot
      %tr
        %td.right{:colspan => 9}= link_to 'New location', new_location_path
  .center
    =page_entries_info @locations, :entry_name => 'location'
    =will_paginate @locations  