<p>
  <b>Floor:</b>
  <%=h @location.floor %>
</p>

<p>
  <b>Room:</b>
  <%=h @location.room %>
</p>

<p>
  <b>Building identifier:</b>
  <%=h @location.building_identifier %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
