#hd
  %a#link_home{:href => '/'} DMS Directory
#nav
  %ul
    %li=link_to_unless_current '<span>Home</span>', '/'
    -if logged_in?
      %li=link_to_unless_current "<span>Employees and Phone Numbers</span>", :controller => 'search'
      -# TODO Implement employees, buildings and code tables
      -if @administrator
        %li=link_to_unless_current "<span>Locations</span>", :controller => 'locations_manager'
        %li=link_to_unless_current "<span>Reports</span>", reports_path
        %li=link_to_unless_current "<span>Application Users</span>", :controller => 'users'
    =unsent_changes
  =render :partial => 'users/user_bar'
