-unless flash[:notice].blank?
  .notice
    -if flash[:notice].class.name == 'Hash'
      %ul
        -flash[:notice].each_value do |n|
          %li=h n
    -else
      =flash[:notice]
-unless flash[:error].blank?
  .error
    -if flash[:error].class.name == 'Hash'
      %ul
        -flash[:error].each_value do |n|
          %li=h n
    -else
      =flash[:error]
-unless flash[:alert].blank?
  .error
    -if flash[:alert].class.name == 'Hash'
      %ul
        -flash[:alert].each_value do |n|
          %li=h n
    -else
      =flash[:alert]