!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title="DMS Directory: #{controller.action_name}"
    = stylesheet_link_tag 'reset-fonts-grids', 'smoothness/jquery-ui', 'autocomplete', 'compiled/screen', :cache => true
    = javascript_include_tag :defaults, 'vendor/autocomplete', :cache => true
    = yield :head_js
  %body
    #doc2
      =render :partial => 'layouts/application_head'
      #bd
        =render :partial => 'layouts/flash_reports'
        = yield
