!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title="DMS Directory: #{controller.action_name}"
    = stylesheet_link_tag 'reset-fonts-grids', 'smoothness/jquery-ui', 'autocomplete', 'main', :cache => true
    = javascript_include_tag :defaults, 'vendor/autocomplete', :cache => true
    = yield :head_js
  %body
    #doc2
      =render :partial => 'layouts/application_head'
      #bd
        =render :partial => 'layouts/flash_reports'
        .yui-gd
          .yui-g.first
            .form
              %h1 Full Data Extract
              %ul
                %li=link_to 'View extract in browser (long load time)', full_data_report_path
                %li=link_to 'View extract in CSV (long load time)', full_data_report_path(:format => 'csv')
              %h1='People first/DMS differences'
              %ul
                %li=link_to '411 from People First/DMS Directory differences', reports_path(:action => 'four_one_one_differences')
              %h1 Changes from People First 
              %table.results{:style => "float:left; margin: 0px 0px 20px 25px;"}
                %thead
                  %tr
                    %th 
                      Past 12 months
                      %br
                      %small 
                        months without
                        %br
                        changes are omited
                %tbody
                  -@last_twelve_monthly_nightlies.each do |month|
                    %tr{:class => cycle('odd', 'even')}
                      %td=link_to month.strftime("%B %Y"), reports_search_results_path(:month => month)
              %table.results{:style => "margin: 0px 0px 20px 155px;"}
                %thead
                  %tr
                    %th 
                      Past 30 days
                      %br
                      %small 
                        days without
                        %br
                        changes are omited
                %tbody
                  -@last_thirty_nightlies.each do |day|
                    %tr{:class => cycle('odd', 'even')}
                      %td=link_to day.strftime("%m-%d-%Y"), reports_search_results_path(:day => day)
          
          .yui-u
            .search_results
              =yield
